
 #wrap {
    width: 1920px;
    height: 3000px;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

#header {
    width: 100%;
    line-height: 0;
}
#header .logo {
    margin-left: 50px;
    margin-top: 50px;
}
#header .menu {
    text-align: right;
    margin: 0 20px 0;
}
#header .menu li {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 10px;
}
#header .menu li a {
    padding: 0px 20px;
    display: inline-block;
    position: relative;
}

/* contents */
#contents {
    height: 2500px;
    margin-top: 250px;
}

#contents .container .contents {
    display: flex;
    justify-content: space-between
}

#contents h2 {
    font-size: 48px;
    margin-bottom: 100px;

}

#contents .imgType1 .cont1 {
    width: 550px;
    height: 550px;
    background: url(../img/imgtype2.jpg) no-repeat;
    background-size: cover;
    margin: -20px 0 150px 0;
}

#contents .imgType1 .cont1_tit {
    font-size: 28px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

#contents .imgType1 .cont2 {
    width: 550px;
    height: 550px;
    background: url(../img/imgtype1.jpg) no-repeat;
    background-size: cover;
    margin: -20px 0 150px 0;
}

#contents .imgType1 .cont2_tit {
    font-size: 28px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

#contents .imgType2 {
    margin-top: 50px;
}
#contents .imgType2 .cont1 {
    width: 550px;
    height: 550px;
    background: url(../img/sea.jpg) no-repeat;
    background-size: cover;
    margin: -20px 0 150px 0;
}

#contents .imgType2 .cont1_tit {
    font-size: 28px;
    border-top: 1px solid #222;
    padding-top: 20px;
}

#contents .imgType2 .cont2 {
    width: 550px;
    height: 550px;
    background: url(../img/sea2.jpg) no-repeat;
    background-size: cover;
    margin: -20px 0 150px 0;
}

#contents .imgType2 .cont2_tit {
    font-size: 28px;
    border-top: 1px solid #222;
}

#footer {
    width: 100%;
    height: 366px;
    background: #333;
}



