* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LABDigital';
}
a {
    color: #fff; text-decoration: none; outline: none;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}
header {
    background: rgba(56, 14, 103, 0.7);
}
header h1 {
    font-size: 20px;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
}
header .time {
    position: absolute;
    right: 10px;
    top: 6px;
    color: #fff;
    float: right;
}
.hoverBtn1 {

}
.btn {
    position: absolute;
    text-align: center;
}
.btn a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(140deg, #ed99fb 30%, #c1bbfc 50%, rgba(255,255,255,.6) 70%);
    transition: all 0.3s;
}
.btn a img {
    width: 30px;
    padding-top: 10px;
}
.btn a span {
    position: absolute;
    left: 50%; bottom: -30px;
    transform: translateX(-50%);
    background: #62ffea;
    padding: 0 20px;
    white-space: nowrap;
    color: rgb(11, 81, 245);
}
.btn:hover a {
    background: rgb(255, 255, 255);
    cursor: none;
}
.btn1 {
    left: 100px;
    top: 100px;
}
.btn2 {
    left: 100px;
    top: 200px;
}
.btn3 {
    left: 100px;
    top: 300px;
}
.btn4{
    left: 1300px;
    top: 100px;
}
.btn4 span {
    color: aqua;
    display: flex;
}
.btn5 {
    left: 1300px;
    top: 150px;
}
.btn5 span {
    color: aqua;
    display: flex;
    
}

.btn6 {
    left: 100px;
    top: 400px;
}
.btn6 span {
    color: aqua;
    display: flex;
    
}

.btnM img{
  width: 40px;
  height: 40px;
}

.btnM a span {
    width: 45px;
    padding-left: 3px;
    background: #62ffea;
    color: rgb(11, 81, 245);
    margin-top: 15px;
    
}
.btnM a {
    padding: 5px 0 0 7px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(140deg, #ed99fb 30%, #c1bbfc 50%, rgba(255,255,255,.6) 70%);
    transition: all 0.3s;
}
.btnM:hover a {
    background: rgb(255, 255, 255);
    cursor: none;
}

.musicBox {
    position: absolute;
    right: -500px;
    top: 10px;
    width: 400px;
    height: 700px;
    transition: all 0.4s;
}
.musicBox.show {
    right: 10px;
}
.memoryBox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -200%;
    margin: auto;
    width: 600px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}

.memoryBox.show {
  right: 1%;
}

.typingBox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -300%;
    margin: auto;
    width: 1000px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}
.typingBox.show {
    right: 1%;
}

.tetrisBox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -200%;
    margin: auto;
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}
.tetrisBox.show {
    right: 1%;
}
iframe {
    width: 100%;
    height: 100%;
}
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 50px;
    user-select: none;
    pointer-events: none;
}